import * as React from 'react';
import { useState, useEffect } from 'react';

import './{{ dashCase name }}.scss';

type {{ properCase name }}Props = {
    children?: React.ReactNode;
    classNames?: string;
}

function {{ properCase name }} ( props: {{ properCase name }}Props = {} ) {
    const [message, setMessage] = useState( 'Hello, World!' );
    const [variable, setVariable] = useState('Test Variable');

    useEffect( () => {
        //TODO: componentDidMount
        return () => {
            //TODO: componentWillUnmount
        }
    }, []);

    useEffect( () => {
        //TODO: shouldComponent Update? componentDidUpdate? 둘 중에 하나 
        return () => {
            //TODO: componentWillUpdate
        }
    }, [ variable ]);

    function handleEvents() {
        //TODO: to do something
    }

    return (
        <div className={`{{ dashCase name }} ${props.classNames || ''}`}>
            { message }<br />
            { props.children }
            <button onClick={ handleEvents }>button</button>
        </div>
    );
};

{{ properCase name }}.defaultProps = {};

export default React.memo( {{ properCase name }} );